<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh And Drippy</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/recipesPage.css">
    <script src="../dist/static/typescript/recipeDetails.js"></script>
</head>
<body>
<div id="tabContainer" class="sticky">
    <ul>
        <li><a href="../html/index.html">Home</a></li>
        <li><a href="../html/recipeDetails.html">Recipes</a></li>
        <li><a>Contact</a></li>
        <li><a href="../html/about.html">About</a></li>
    </ul>
    <img id="star1" class="star" src="../html/images/star.png"/>
    <img id="logo" src="../html/images/logo.png"/>
    <img id="star2" class="star" src="../html/images/star.png"/>
    <a id="LoginButton">Login</a>
</div>
<br>
<h1>[[${recipe.name}]]</h1>
<div>
    <p>Beschreibung: [[${recipe.beschreibung}]]</p>
    <p>[[${recipe.zubereitungsdauer}]] Minuten Zubereitungszeit</p>
    <img th:src="@{../html/${recipe.bild}}" th:alt="${recipe.bild}">
</div>

<input type="hidden" id="recipeId" th:value="${recipe.id}">

<table id="zutatenTable">
    <thead>
    <tr>
        <th>Menge</th>
        <th>Einheit</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody id="zutatenTableBody"></tbody>
</table>
</body>
</html>
