/* styles.css */
/* #42a62b   Green */

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #42a62b;
}

#tabContainer {
    background-color: #42a62b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: fit-content;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.no-scroll {
    overflow: hidden;
}

#ContactContent #ContactText {
    width: 100%;
    padding: 5px 2px 5px 2px;
    margin-top: 15px;
    height: 100px;
    white-space: pre-line;
    vertical-align: top;
}

.popup-container {
    color: white;
    z-index: 100000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

#ContactContent {
    background: #42a62b;
    border-radius: 15px;
    border: 2px solid #69d84f;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#ContactButton {
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #fff;
    align-self: center;
    width: 60px;
    height: 80%;
    margin-top: 20px;
    padding: 12px 24px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    background-color: rgba(0, 0, 0, 0);
}

#ContactButton:hover {
    background-color: rgb(105, 216, 79);
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 60px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 3px solid #42a62b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.close:hover {
    background-color: #69d84f;
}

.star {
    position: absolute;
    top: 50%;
    width: 3%;
    transform: translate(-50%, -50%);
    -webkit-user-drag: none;
}

#star1 {
    left: 38%;
}

#star2 {
    left: 62%;
}

#logo {
    position: absolute;
    top: 0;
    width: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-user-drag: none;
    background-color: #42a62b;
    padding: 10px 30px 10px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

#Home {
    position: relative;
    background-image: url("../html/images/home-background.png");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 50% 50%;
    width: 100%;
}

#LoginButton {
    display: inline;
    cursor: pointer;
    float: left;
    color: #fff;
    margin-right: 50px;
    border-radius: 8px;
    border: 2px solid #fff;

    height: 80%;
    padding: 12px 24px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    background-color: rgba(0, 0, 0, 0);
}

#LoginButton:hover {
    background-color: rgb(105, 216, 79);
}

#About {
    background-image: url("../html/images/about-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 5%;
    width: 100%;
    text-align: center;
    color: black;
}

#About #AboutTitle {
    padding: 10px;
    color: white;
    align-content: center;
    text-align: center;
    background-color: #42a62b;
}

#About #AboutTitle a {
    font-size: 36px;
    font-weight: bold;
}

#About p {
    font-size: 18px;
}


#Home img {
    width: 50%;
    height: 50%;
    display: block;
}

#Home #ImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
}

#Home #TextOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 36px;
}

ul {
    margin: 0 0 0 20px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: inline;
    cursor: pointer;
    float: left;
    color: #fff;
    padding: 18px 16px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover {
    background-color: #69d84f;
    color: white;
}

#DailyRecipe {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Recipe img {
    border-radius: 10px;
    border: 2px solid #69d84f;
    margin: 5px;
    -webkit-user-drag: none;
}

.Recipe #RecipeTitle {
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
    text-decoration: underline;
}

.Recipe #Content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Recipe {
    width: 750px;
    height: 300px;
    border-radius: 10px;
    border: 3px solid #69d84f;
    color: black;
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: white;
}