/* styles.css */
/* #42a62b   Green */

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #42a62b;
}

#tabContainer {
    background-color: #42a62b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: fit-content;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.no-scroll {
    overflow: hidden;
}

.shopping {
    margin-right: 50px;
    cursor: pointer;
}

.container {
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

.quantity {
    background: red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 2px;
    padding: 3px 10px;
}

.cart {
    position: fixed;
    top: 0;
    left: 100%;
    width: 380px;
    height: 100%;
    background-color: #fbf6f0;
    transition: 0.8s;
    z-index: 9999;
}

.cart-header {
    height: 3rem;
    display: flex;
    justify-content: center;
    background-color: #42a62b;
    align-items: center;
}

.cart-close {
    position: absolute;
    width: 3rem;
    top: 0;
    left: 0;
    opacity: .75;
    transition: opacity .35s;
    align-items: center;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.cart-close:hover {
    opacity: 1;
    cursor: pointer;
}

.cart-active {
    left: calc(100% - 380px);
    box-shadow: 5px 5px 15px 5px #000000;
}

#ContactContent #ContactText {
    width: 100%;
    padding: 5px 2px 5px 2px;
    margin-top: 15px;
    height: 100px;
    white-space: pre-line;
    vertical-align: top;
}

.popup-container {
    color: white;
    z-index: 100000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

#ContactContent {
    background: #42a62b;
    border-radius: 15px;
    border: 2px solid #69d84f;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#ContactButton {
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #fff;
    align-self: center;
    width: 60px;
    height: 80%;
    margin-top: 20px;
    padding: 12px 24px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    background-color: rgba(0, 0, 0, 0);
}

#ContactButton:hover {
    background-color: rgb(105, 216, 79);
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 60px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 3px solid #42a62b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.close:hover {
    background-color: #69d84f;
}

.star {
    position: absolute;
    top: 50%;
    width: 3%;
    transform: translate(-50%, -50%);
    -webkit-user-drag: none;
}

#star1 {
    left: 38%;
}

#star2 {
    left: 62%;
}

#logo {
    position: absolute;
    top: 0;
    width: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-user-drag: none;
    background-color: #42a62b;
    padding: 10px 30px 10px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

#Home {
    position: relative;
    background-image: url("../html/images/home-background.png");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 50% 50%;
    width: 100%;
}

#LoginButton {
    display: inline;
    cursor: pointer;
    float: left;
    color: #fff;
    border-radius: 8px;
    border: 2px solid #fff;
    padding: 12px 24px;
    margin-right: 50px;
    height: 80%;
    text-decoration: none;
    transition: background-color 0.2s ease;
    background-color: rgba(0, 0, 0, 0);
}

#LoginButton:hover {
    background-color: rgb(105, 216, 79);
}

#Daily {
    background-image: url("../html/images/about-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 5%;
    width: 100%;
    text-align: center;
    color: black;
}

.Title {
    padding: 10px;
    color: white;
    align-content: center;
    text-align: center;
    background-color: #42a62b;
}

.Title a {
    font-size: 36px;
    font-weight: bold;
}


#Home img {
    width: 50%;
    height: 50%;
    display: block;
}

#Home #ImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
}

#Home #TextOverlay {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 36px;
}

ul {
    margin: 0 0 0 20px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: inline;
    cursor: pointer;
    float: left;
    color: #fff;
    padding: 18px 16px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover {
    background-color: #69d84f;
    color: white;
}

#DailyRecipe {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.Recipe .RecipeImage {
    display: flex;
    min-width: 300px;
    height: 100%;
    border-radius: 0 0 0 0;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.4);
    background-image: url("../html/images/recipes/rezept1.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    transition: background-size 0.5s ease, border-radius 0.5s ease;
    overflow: hidden;
}

.Recipe .RecipeImage:hover {
    background-size: 120%;
    border-radius: 0 15px 15px 0;
}

.Recipe .RecipeImageGlow {
    -webkit-filter: blur(8px);
    min-width: 200%;
    height: 50%;
    transform: translate(0, -120%);
    opacity: 0.2;
    background-color: white;
    transition: transform 0.5s ease;
}

.Recipe .RecipeImage:hover .RecipeImageGlow {
    transform: rotate(-20deg) translate(0, -50%);
}

.Recipe .RecipeHeader {
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.RecipeHeader .RecipePrepTime {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.RecipeHeader .RecipeInfoContainer {
    width: 20%;
    text-align: right;
}

.RecipePrepTime img {
    -webkit-user-drag: none;
    width: 40px;
    height: auto;
    margin-right: 3px;
}

.RecipePrepTime a {
    font-size: 14px;
}

.Recipe .RecipeHeader .RecipeTitle {
    width: 60%;
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
}

.Recipe .RecipeContent {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.Recipe .RecipeInfo {
    cursor: pointer;
    margin-right: 10px;
    -webkit-user-drag: none;
    width: 30px;
    height: 30px;
}

.Recipe {
    width: 750px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.4);
    color: black;
    display: flex;
    overflow: hidden;
    margin: 20px;
    background-color: white;
}

#Recipes {
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#RecipeFilterHeader {
    width: auto;
    height: auto;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 20px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.4);
}

.RecipeFilter {
    padding: 6px 12px;
    font-size: 18px;
    color: black;
    margin: 0 5px;
    border-radius: 30px;
    border: 2px solid #42a62b;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: border 0.25s ease, background-color 0.25s ease, color 0.25s ease;
}
.RecipeFilter:hover {
    border: 2px solid #69d84f;
    background-color: #42a62b;
    color:white;
}
.RecipeFilterSelected {
    padding: 6px 12px;
    font-size: 18px;
    margin: 0 5px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: border 0.25s ease, background-color 0.25s ease, color 0.25s ease;
    border: 2px solid #69d84f;
    background-color: #42a62b;
    color:white;
}

.Recipe .RecipeDescription {
    color:black;
    font-size: 18px;
}

.Recipe .RecipeIngredients {
    color: dimgray;
    font-size: 14px;
    font-style: italic;
}

.Recipe .RecipeFooter {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: auto;
    align-items: end;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Recipe .AddToCartButton {
    padding: 12px;
    background-color: #42a62b;
    border: 2px solid #69d84f;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.25s ease, border 0.25s ease;
}

.Recipe .AddToCartButton:hover {
    background-color: #69d84f;
    border: 2px solid #42a62b;
}

#RecipeList {
    padding: 15px;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

#RecipeListContent {
    width: 90%;
    padding-top: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

#PartnerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    background-color: #69d84f;
}

.Partner {
    -webkit-user-drag: none;
    margin: 10px;
    width: 20%;
    height: 20%;
}